<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mappers.UserInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.backend.entity.po.User">
		<!--用户ID-->
		<id column="user_id" property="userId"  />
		<!--用户昵称-->
		<result column="username" property="username"  />
		<!--用户头像-->
		<result column="avatar" property="avatar"  />
		<!--密码-->
		<result column="password" property="password"  />
		<!--注册时间-->
		<result column="register_time" property="registerTime"  />
		<!--上次登录时间-->
		<result column="last_login_time" property="lastLoginTime"  />
		<!--0禁用 1启用-->
		<result column="status" property="status"  />
		<!--已使用空间 单位字节-->
		<result column="use_space" property="useSpace"  />
		<!--总空间 单位字节-->
		<result column="total_space" property="totalSpace"  />
		<!--0普通用户 1管理员-->
		<result column="type" property="type"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 u.user_id,u.username,u.avatar,u.password,u.register_time,
		 u.last_login_time,u.status,u.use_space,u.total_space,u.type
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.userId != null">
				 and  u.user_id = #{query.userId}
			</if>
			<if test="query.username != null and query.username!=''">
				 and  u.username = #{query.username}
			</if>
			<if test="query.avatar != null and query.avatar!=''">
				 and  u.avatar = #{query.avatar}
			</if>
			<if test="query.password != null and query.password!=''">
				 and  u.password = #{query.password}
			</if>
			<if test="query.registerTime != null and query.registerTime!=''">
				 <![CDATA[ and  u.register_time=str_to_date(#{query.registerTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.lastLoginTime != null and query.lastLoginTime!=''">
				 <![CDATA[ and  u.last_login_time=str_to_date(#{query.lastLoginTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.status != null">
				 and  u.status = #{query.status}
			</if>
			<if test="query.useSpace != null">
				 and  u.use_space = #{query.useSpace}
			</if>
			<if test="query.totalSpace != null">
				 and  u.total_space = #{query.totalSpace}
			</if>
			<if test="query.type != null">
				 and  u.type = #{query.type}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.usernameFuzzy!= null  and query.usernameFuzzy!=''">
				 and  u.username like concat('%', #{query.usernameFuzzy}, '%')
			</if>
			<if test="query.avatarFuzzy!= null  and query.avatarFuzzy!=''">
				 and  u.avatar like concat('%', #{query.avatarFuzzy}, '%')
			</if>
			<if test="query.passwordFuzzy!= null  and query.passwordFuzzy!=''">
				 and  u.password like concat('%', #{query.passwordFuzzy}, '%')
			</if>
			<if test="query.registerTimeStart!= null and query.registerTimeStart!=''">
				 <![CDATA[ and  u.register_time>=str_to_date(#{query.registerTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.registerTimeEnd!= null and query.registerTimeEnd!=''">
				 <![CDATA[ and  u.register_time< date_sub(str_to_date(#{query.registerTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.lastLoginTimeStart!= null and query.lastLoginTimeStart!=''">
				 <![CDATA[ and  u.last_login_time>=str_to_date(#{query.lastLoginTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.lastLoginTimeEnd!= null and query.lastLoginTimeEnd!=''">
				 <![CDATA[ and  u.last_login_time< date_sub(str_to_date(#{query.lastLoginTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM user_info u <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM user_info u <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.backend.entity.po.User">
		<selectKey keyProperty="bean.userId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO user_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.username != null">
				 username,
			</if>
			<if test="bean.avatar != null">
				 avatar,
			</if>
			<if test="bean.password != null">
				 password,
			</if>
			<if test="bean.registerTime != null">
				 register_time,
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.useSpace != null">
				 use_space,
			</if>
			<if test="bean.totalSpace != null">
				 total_space,
			</if>
			<if test="bean.type != null">
				 type,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.username!=null">
				 #{bean.username},
			</if>
			<if test="bean.avatar!=null">
				 #{bean.avatar},
			</if>
			<if test="bean.password!=null">
				 #{bean.password},
			</if>
			<if test="bean.registerTime!=null">
				 #{bean.registerTime},
			</if>
			<if test="bean.lastLoginTime!=null">
				 #{bean.lastLoginTime},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.useSpace!=null">
				 #{bean.useSpace},
			</if>
			<if test="bean.totalSpace!=null">
				 #{bean.totalSpace},
			</if>
			<if test="bean.type!=null">
				 #{bean.type},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.backend.entity.po.User">
		 INSERT INTO user_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.username != null">
				 username,
			</if>
			<if test="bean.avatar != null">
				 avatar,
			</if>
			<if test="bean.password != null">
				 password,
			</if>
			<if test="bean.registerTime != null">
				 register_time,
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.useSpace != null">
				 use_space,
			</if>
			<if test="bean.totalSpace != null">
				 total_space,
			</if>
			<if test="bean.type != null">
				 type,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.username!=null">
				 #{bean.username},
			</if>
			<if test="bean.avatar!=null">
				 #{bean.avatar},
			</if>
			<if test="bean.password!=null">
				 #{bean.password},
			</if>
			<if test="bean.registerTime!=null">
				 #{bean.registerTime},
			</if>
			<if test="bean.lastLoginTime!=null">
				 #{bean.lastLoginTime},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.useSpace!=null">
				 #{bean.useSpace},
			</if>
			<if test="bean.totalSpace!=null">
				 #{bean.totalSpace},
			</if>
			<if test="bean.type!=null">
				 #{bean.type},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.username!=null">
				 username = VALUES(username),
			</if>
			<if test="bean.avatar!=null">
				 avatar = VALUES(avatar),
			</if>
			<if test="bean.password!=null">
				 password = VALUES(password),
			</if>
			<if test="bean.registerTime!=null">
				 register_time = VALUES(register_time),
			</if>
			<if test="bean.lastLoginTime!=null">
				 last_login_time = VALUES(last_login_time),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.useSpace!=null">
				 use_space = VALUES(use_space),
			</if>
			<if test="bean.totalSpace!=null">
				 total_space = VALUES(total_space),
			</if>
			<if test="bean.type!=null">
				 type = VALUES(type),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.backend.entity.po.User" useGeneratedKeys="true" keyProperty="userId">
		 INSERT INTO user_info(
			 username,
			 avatar,
			 password,
			 register_time,
			 last_login_time,
			 status,
			 use_space,
			 total_space,
			 type
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.username},
				 #{item.avatar},
				 #{item.password},
				 #{item.registerTime},
				 #{item.lastLoginTime},
				 #{item.status},
				 #{item.useSpace},
				 #{item.totalSpace},
				 #{item.type}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.backend.entity.po.User">
		 INSERT INTO user_info(
			 username,
			 avatar,
			 password,
			 register_time,
			 last_login_time,
			 status,
			 use_space,
			 total_space,
			 type
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.username},
				 #{item.avatar},
				 #{item.password},
				 #{item.registerTime},
				 #{item.lastLoginTime},
				 #{item.status},
				 #{item.useSpace},
				 #{item.totalSpace},
				 #{item.type}
			 )
		 </foreach>
			on DUPLICATE key update 
			username = VALUES(username),
			avatar = VALUES(avatar),
			password = VALUES(password),
			register_time = VALUES(register_time),
			last_login_time = VALUES(last_login_time),
			status = VALUES(status),
			use_space = VALUES(use_space),
			total_space = VALUES(total_space),
			type = VALUES(type)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.backend.entity.query.UserInfoQuery">
		 UPDATE user_info u
 		 <set> 
			<if test="bean.username != null">
				 username = #{bean.username},
			</if>
			<if test="bean.avatar != null">
				 avatar = #{bean.avatar},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.registerTime != null">
				 register_time = #{bean.registerTime},
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.useSpace != null">
				 use_space = #{bean.useSpace},
			</if>
			<if test="bean.totalSpace != null">
				 total_space = #{bean.totalSpace},
			</if>
			<if test="bean.type != null">
				 type = #{bean.type},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete u from user_info u
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据UserId修改-->
	<update id="updateByUserId" parameterType="com.backend.entity.po.User">
		 UPDATE user_info
 		 <set> 
			<if test="bean.username != null">
				 username = #{bean.username},
			</if>
			<if test="bean.avatar != null">
				 avatar = #{bean.avatar},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.registerTime != null">
				 register_time = #{bean.registerTime},
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.useSpace != null">
				 use_space = #{bean.useSpace},
			</if>
			<if test="bean.totalSpace != null">
				 total_space = #{bean.totalSpace},
			</if>
			<if test="bean.type != null">
				 type = #{bean.type},
			</if>
 		 </set>
 		 where user_id=#{userId}
	</update>

	<!-- 根据UserId删除-->
	<delete id="deleteByUserId">
		delete from user_info where user_id=#{userId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUserId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from user_info u where user_id=#{userId}
	</select>

	<!-- 根据Username修改-->
	<update id="updateByUsername" parameterType="com.backend.entity.po.User">
		 UPDATE user_info
 		 <set> 
			<if test="bean.avatar != null">
				 avatar = #{bean.avatar},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.registerTime != null">
				 register_time = #{bean.registerTime},
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.useSpace != null">
				 use_space = #{bean.useSpace},
			</if>
			<if test="bean.totalSpace != null">
				 total_space = #{bean.totalSpace},
			</if>
			<if test="bean.type != null">
				 type = #{bean.type},
			</if>
 		 </set>
 		 where username=#{username}
	</update>

	<!-- 根据Username删除-->
	<delete id="deleteByUsername">
		delete from user_info where username=#{username}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUsername" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from user_info u where username=#{username}
	</select>

</mapper>